.ant-layout-sider {
  width: auto !important;
  min-width: 200px !important;
  max-width: 320px !important;
  flex: 0 0 320px !important;
}
.ant-form {
  width: 100%;
}
.ant-input {
  padding: 10px 14px;
}
.ant-input-search-button {
  height: 46px !important;
}